/* 
    Created on : 13/04/2018, 14:51:02
    Author     : Grinns (Almada Pablo E.)
*/

.aumento {
    border: 2px solid grey;
    width: 500px;
    height: 500px;
    overflow: hidden;
    position: relative;
    top: 73px;
}