/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/04/2018, 14:51:02
    Author     : Grinns (Almada Pablo E.)
*/

.principal{
    border: 1px solid grey;
    width: 707px;
    height: 1000px;
    float: left;
    overflow: hidden;
    background: url("img/diagrama.png") no-repeat;
    background-size: 707px 1000px;
    background-position: center center;
}
.autor{
    overflow: hidden;
    float:left;
}

.secundario{
    border: 0px solid grey;
    width: 600px;
    height: 1000px;
    overflow: hidden;
    position:relative;
}

.coluno{
   overflow: hidden;
   float:left; 
}

.coldos{
   overflow: hidden;
   float:left; 
}

.aumento{
    border: 2px solid grey;
    width: 575px;
    height: 575px;
    overflow: hidden;
    position: absolute;
    top: 110px;
    left:12px;
}